.card {
background-color: white;
height: 250px;
width: 300px;
margin: 50px;
};
.image-space{
 display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image {
   object-fit: cover;
   width: 300px;
   height: 150px;
};
.title{
    color: #FFB0B0;
}